---
import DdysShell from '../components/DdysShell.astro';
import DdysRequestForm from '../components/DdysRequestForm.astro';
---
<DdysShell title="DDYS Request">
  <section class="ddys-astro-section">
    <header class="ddys-astro-section-head"><h1>Request</h1></header>
    <DdysRequestForm />
  </section>
</DdysShell>
